.hero{
    display: flex;
    height: 100vh;
    background:linear-gradient(180deg,#fde1ff,#e1ffea22 60%) ;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left:180px ;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size:22px ;
    font-weight: 500;

}

.hero-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-right img{
    width: 500px;
    height: 500px;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {


    .hero{
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    background:linear-gradient(180deg,#fde1ff,#e1ffea22 60%) ;
}
.hero-left{
    padding-left: 65px;
}

 .hero-left h2{

    font-size: 16px;

} 
.hero-left p{
   
    font-size: 30px;
    font-weight: 600;
}

.hero-latest-btn{
    width: 180px;
    height: 30px;
    font-size:12px ;
    font-weight: 100;

}
.hero-right img{
    width: 250px;
    height: 250px;
}

}
@media only screen and (min-width: 601px) and (max-width: 900px) {
   
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {

}