.shop-category {
  width: 100%;
  /* overflow: hidden; */
  margin-bottom: 30px;
  overflow: hidden;
}

.shopcategory-banner {
  width: 100%;
  height: 700px; 
  max-height: 520px; 
  object-fit: cover;
  border-radius: 12px; 
}
.shop-category-indexsort{
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}
.shopcategory-sort{
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shop-category-indexsort p span{
  font-weight: 600;
  
}

.shopcategory-products{
  margin: 20px 170px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  row-gap: 80px;
}

.shopcategory-loadmore button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  
}

@media  screen and (min-width:300px) and (max-width: 600px) {
  .shopcategory-banner {
  width: 100%;
  height: 210px; 
  
}
.shopcategory-products{
  margin: 20px 170px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}
.shopcategory-loadmore button{
  width: 150px;
  height: 40px;
  font-size: 12px;
  
  
}
.shop-category-indexsort span{
  font-weight: 500;
  font-size: 12px;
  
}
.shop-category-indexsort p {
  font-weight: 500;
  font-size: 10px;
  
}
.shopcategory-sort{
  padding: 0px 10px;
  border-radius: 40px;
  border: 1px solid #888;
  font-size: 13px;
}
.shop-category-indexsort{
  margin: 0px 0px;
  
  
}


}
