.relatedproduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height:90vh ;
}
.relatedproduct h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproduct hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.relatedproduct-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .relatedproduct {
    height: auto;
    padding: 20px 10px;
    gap: 20px;
  }

  .relatedproduct h1 {
    font-size: 26px;
    text-align: center;
  }

  .relatedproduct hr {
    width: 100px;
    height: 4px;
  }

  .relatedproduct-item {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
  }
}
