.fotter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    width: 50px;
    height: 50px;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
      font-size: 20px;
        cursor: pointer;
}
/* .fotter-links li{
  
  
} */
.fotter-social-icons{
    display: flex;
    gap: 20px;
}
.fotter-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
}
.fotter-icons-container img{
    width: 20px;
    height: 20px;
}
.fotter-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.fotter-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

@media screen and (min-width:300px) and (max-width:600px)  {
    .footer-logo img{
    width: 20px;
    height: 20px;
}
.footer-logo p{
    font-size: 20px;
    font-weight: 500;
}
.footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    gap:20px;
}
.fotter-icons-container img{
    width: 15px;
    height: 15px;
    align-items: center;
}
.fotter-copyright{
    font-size: 10px;
}

}